@use 'reset';

body {
    background-color:cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}

.navbar {
    background-color:aquamarine;
    height: 3rem;
    width: 4rem;
    text-align: center;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 10rem;

    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}
main {
    margin-top: 3rem;
}

.hero {
    display: grid;
    grid-template-areas: 'stack';

    > * {
        grid-area: stack;
    }

    h1 {
        color: #efefef;
        place-self: center;
    }
}

.filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

footer {
    background-color: aquamarine;
    text-align: center;
    width: 20rem;
    margin-top: 1rem;
}

.show {
    display: flex;
}

.hide {
    display: none;
}