{% extends "layout.njk" %}
{% block  content %}
<ul>
    <img src="/images/flower1.png">

    {% for row in rows %}
        <li>
            {{ row.id }} {{ row.authorId }} <h10>Tyckobra</h10>
            <h1>{{ row.title }}</h1> <p>{{ row.content }}</p> 
            <p>Created {{ row.createdAt }}</p>
            <p>{{ row.name }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}