{% block  content %}
    <ul>
        <li>
            <a href="https://www.youtube.com/">youtube</a>
            <a href="https://www.blocket.se/">blocket</a>
            <a href="https://www.netflix.com/">netflix</a>
            <a href="gringos.njk">gringos</a>
        </li>
    </ul>
{% endblock %}