<form action="/new" method="post">
    <label for="author">Författare</label>
    <input type="text" name="author" id="author">
    <label for="title">Titel</label>
    <input type="text" name="title" id="title">
    <label for="content">Innehåll</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button type="submit">Skicka</button>
</form>